<h1 class="text-center">Tet'Mouton</h1>
<p class="text-center">L'application verte destinéee à la location de parcelles </p>
<div class="text-center">
  <%= link_to "Parcelles", lands_path, class: "btn btn-success" %>
</div>
