<div class="container rounded-5 text-white img-fluid  banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4)),
    url(https://res.cloudinary.com/drip4exjp/image/upload/v1667424077/ilyuza-mingazova-8ZD0oiNwpto-unsplash_feolpn.jpg); margin-top: 50px;">
    <h1 class="text-center h1" style="font-size:40px">TET'MOUTON</h1>
    <p class="text-center" style="font-size:30px">Location de parcelles.</p>
    <div class="text-center text-white">
      <%= link_to "Découvrir", lands_path, class: "btn btn-success" %>
    </div>
</div>

<div class="container d-flex justify-content-center align-items-center flex-wrap" style="margin-top:5%;">
  <div class="rounded container h-50 col-md-6">
    <img src="https://res.cloudinary.com/drip4exjp/image/upload/v1669657070/development/lr545fgwguanc9e52ees5kakwmnn.jpg" alt="sheep2" class="img-fluid rounded-5 ">
  </div>
  <div class="container rounded mx-auto col-md-6">
      <h2><span class="text-success">N</span>OTRE VISION</h2>
      <hr class="w-25">
      <p>Une application tech for good, son but est de permettre à des particuliers de louer des parcelles de terres afin de soutenir les éleveurs notammment les jeunes tout en permettant d'entretenir la végétation de façon <span class="text-white">écologique.</span></p>
  </div>
</div>

<div class="container d-flex justify-content-between align-items-center flex-wrap" style="margin-top:5%;">
  <div class="container rounded mx-auto col-md-6">
    <h2><span class="text-success">Q</span>UEL ESPACE LOUER ?</h2>
    <hr class="w-25 text-dark">
    <p>Nous avons pensés principalement aux terrain secondaires qui n'ont pas le temps d'être exploité par manque de temps ou de financement parfois, mais aussi aux personnes qui possède une superficie  conséquente  et propice au développement de l'élevage</p>
  </div>
  <div class="rounded container h-50 col-md-6">
    <img src="https://res.cloudinary.com/drip4exjp/image/upload/v1667423241/tanner-yould-nbklTnbXZ68-unsplash_kl6ded.jpg" alt="sheep2" class="img-fluid rounded-5 ">
  </div>
</div>
